<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	  <title>signin</title> <link rel="stylesheet" href='/static/css/style.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1 class='titlecard'> Sign In </h1><br></br>
	 <form method="post" action="/signin">
	 <div>
            <label>Email:</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password:</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit" value='Sign In'>
        </div>
    </form>
    <br>

</body>
</html>